* text=auto
*.cs text eol=crlf
*.ps1 text eol=crlf
*.py text eol=lf
*.md text eol=lf
*.png binary
*.tdms binary
*.cs16 binary
*.mat binary
*.npz binary
*.dll binary
*.log -whitespace
*.patch -whitespace

*.lvbitx binary
hardware/ni-pxie-5644r/NI-SAMPLE-CODE-LICENSE.txt -whitespace
